<div class=" jumbotron jumbotron-fluid ">
    <div class="container-fluid">

        <div class="row justify-content-center">
            <img src=" /assets/fotter/icono_facebook.png " width="40px " height="40px ">
            <img src="/assets/fotter/icono_instagram.png " width="40px " height="40px ">
            <img src="/assets/fotter/icono_Linkedin.png " width="40px " height="40px ">
        </div>
        <a rel="license " href="http://creativecommons.org/licenses/by-nc-nd/4.0/ "><img alt="Licencia Creative Commons " style="border-width:0 " src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png " /></a>
        <br/>Esta obra está bajo una
        <a rel="license " href="http://creativecommons.org/licenses/by-nc-nd/4.0/ ">Licencia Creative Commons Atribución – No Comercial – Sin Obra Derivada 4.0 Internacional</a>
        <p><b>Desarrollado por Evelin Aragon | Copyrigth © 2021</b></p>
    </div>
</div>